<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hay Resto!</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:wght@300&display=swap" rel="stylesheet" type="text/css">
</head>
<body>
<a href="#maincontent" class="skip-link">Menuju ke konten</a>
<header class="header">
    <div class="header__inner">
        <h1 class="header__title">
            Hay Resto!
        </h1>
    </div>
    <a href="#" id="menu" class="header__menu">☰</a>
</header>

<nav id="drawer" class="nav">
    <ul class="nav__list">
        <li class="nav__item"><a href="/">Home</a></li>
        <li class="nav__item"><a href="#">Favorite</a></li>
        <li class="nav__item"><a href="https://www.linkedin.com/in/waldika-irawan-5a1587225/" target="_blank">About Us</a></li>
    </ul>
</nav>

<div class="hero ">
    <div class="hero__inner">
        <h1 class="hero__title">Temukan cita rasa favoritemu disini</h1>
    </div>
</div>
<main id="maincontent">
    <section class="content">
        <article class="explore" id="explore">
            <div class="resto__head">
                <h1>Explore Resto</h1>
            </div>

            <div class="resto__container" id="list">
                
        </article>
    </section>
    
</main>
<footer>
    <p>Copyright &copy; 2022 - Hay Resto!</p>
</footer>
</body>
</html>